body {
    background-color: rgb(134, 142, 152);
}

.container {
    max-width: 700px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.card-row {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    width: auto;
}

@media (max-width: 480px) {

    .container {
        background-color: white;
        padding-bottom: 10px;
    }

    .card-row {
        border-radius: 0px;
        margin-bottom: 80px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

}
