body {
    background-color: rgb(134, 142, 152);
}

.container {
    max-width: 700px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.card-img {
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-height: 250px;
    width: auto;
}

@media (max-width: 480px) {

    .container {
        padding-bottom: 10px;
    }

}
